ErrorDocument 500 http://BIG.local/404
ErrorDocument 404 http://BIG.local/404

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ $1.php [L,QSA]
